body {
    background-color:rgb(83, 43, 226) 
}
h1 {
    font-size: 40px;
    text-align: center;
    color: #23c3c9;
    font-family:Georgia, 'Times New Roman', Times, serif

}
img {
    width: 30%;
    max-width: 100%;
    height: auto;


}
h2 {
    font-size: 25px;
    
    color: #23c3c9;
    font-family:Georgia, 'Times New Roman', Times, serif

}
h4 {
    font-size: 30px;
    text-align: left;
    color: #23c3c9;
    font-family:Georgia, 'Times New Roman', Times, serif
}
h5 {
    font-size: 20px;
}

h6 {
    font-size: 25px;
    
    color: #23c3c9;
    font-family:Georgia, 'Times New Roman', Times, serif
}

h7{
    font-size: 20px;
}
h8 {
    font-size: 30px;
}
h11 {
    font-size: 30px;
    color: #23c3c9;
    font-family:Georgia, 'Times New Roman', Times, serif
}
div1 {
    font-size: 20px;
    color: #23c3c9;
    font-family:Georgia, 'Times New Roman', Times, serif
}
div2 {
    font-size: 20px;
    color: #23c3c9;
    font-family:Georgia, 'Times New Roman', Times, serif
}

div3 {
    font-size: 20px;
    color: #23c3c9;
    font-family:Georgia, 'Times New Roman', Times, serif
}
div5 {
    font-size: 20px;
    color: #23c3c9;
    font-family:Georgia, 'Times New Roman', Times, serif
}
h12 {
    font-size: 30px;
    color: #23c3c9;
    font-family:Georgia, 'Times New Roman', Times, serif
}
div6 {
    font-size: 20px;
    color: #23c3c9;
    font-family:Georgia, 'Times New Roman', Times, serif
}
div7{
    font-size: 20px;
    color: #23c3c9;
    font-family:Georgia, 'Times New Roman', Times, serif
}
h13 {
    font-size: 30px;
    color: #23c3c9;
    font-family:Georgia, 'Times New Roman', Times, serif
}
div8 {
    font-size: 20px;
    color: #23c3c9;
    font-family:Georgia, 'Times New Roman', Times, serif
}
div9 {
    font-size: 20px;
    color: #23c3c9;
    font-family:Georgia, 'Times New Roman', Times, serif
}
div10 {
    font-size: 20px;
    color: #23c3c9;
    font-family:Georgia, 'Times New Roman', Times, serif
}

div11 {
    font-size: 20px;
    color: #23c3c9;
    font-family:Georgia, 'Times New Roman', Times, serif
}
div12 {
    font-size: 20px;
    color: #23c3c9;
    font-family:Georgia, 'Times New Roman', Times, serif
}